html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* body{
    background: rgb(3, 3, 3);
}  */

.ftco-navbar-light{
    background: transparent !important;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;
}

.ftco-navbar-light .navbar-brand{
    color: rgb(219, 179, 219);
}

.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus{
    color: rgb(219, 179, 219);
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link{
    font-size: 13px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color:  rgb(219, 179, 219);
    opacity: 1 !important;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color:  rgb(219, 179, 219);
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a{
    background: rgb(226, 104, 165);
    color:  rgb(219, 179, 219);
    border-radius: 5px;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a{
    color: rgb(226, 104, 165);
}

/* for the time when page content goes more than screen size and need to scroll */

.ftco-navbar-light.scrolled .nav-item.active > a{
    color: rgb(226, 104, 165) !important;
}

.ftco-navbar-light.scrolled .nav-item.cta > a{
    color:  rgb(219, 179, 219) !important;
    background: rgb(226, 104, 165);
    border: none !important;
    border-radius: 0;
}

.ftco-navbar-light.scrolled .nav-item.cta > a span {
    display: inline-block;
    color:  rgb(219, 179, 219) !important;
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
    border-color:  rgb(226, 104, 165);
}

.ftco-navbar-light.scrolled .nav-link {
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
    color:  rgb(3, 3, 3);
}

.ftco-navbar-light.scrolled .nav-link.active {
    color:  rgb(226, 104, 165);
}

.ftco-navbar-light.scrolled .awake {
    margin-top: 0px;
    transition: 0.3s all ease-out;
}

.ftco-navbar-light.scrolled .sleep {
    transition: 0.3s all ease-out ;
}

.ftco-navbar-light.scrolled .navbar-brand {
    color:  rgb(3, 3, 3);
}

.navbar-brand {
    font-weight: 900;
    font-size: 20px;
}


/* carousel */

.owl-carousel {
    position: relative;
}
.owl-carousel .owl-item {
    opacity: 0.4;
}

.owl-carousel .owl-item.active {
    opacity: 1;
}

.owl-carousel .owl-nav {
    position:absolute;
    top: 50%;
    width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    transform: translateY(-50%);
    margin-top: -10px;
    color: rgb(226, 104, 165);
    transition: all 0.7s ease;
    opacity: 0;
}

.owl-carousel .owl-nav .owl-prev span::before,
.owl-carousel .owl-nav .owl-next span::before{
    font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
    left: 0;
}

.owl-carousel .owl-nav .owl-next {
    right: 0;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev{
    left: -25px;
}

.owl-carousel .owl-nav .owl-next {
    right: -25px;
}

.owl-carousel.home-slider {
    position: relative;
    height: 750px;
    z-index: 0;
}

.owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    position: relative;
    z-index: 0;
}

.owl-carousel.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(3, 3, 3);
    opacity: 0.7;
}

.owl-carousel.home-slider .slider-item .slider-text {
    color: lavender;
    height: 750px;
    text-align: right;
}
.owl-carousel.home-slider .slider-item .slider-text .subheading {
    font-size: 80px;
    color: lightcoral;
    font-weight: normal;
    margin-bottom:  0;
    line-height: 1;
    font-family: "Great Vibes", cursive;
}

.owl-carousel:hover .owl-custom-prev,
.owl-carousel:hover .owl-custom-nav {
    padding: 10px;
    font-size: 30px;
    background: cornsilk;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block;
}

/* featured section */
.featured {
    padding-top: 30px;
    width: 100%;
    margin-top: -230px;
}

.featured .featured-menus {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.featured .featured-menus .text {
    width: 100%;
}

.featured .featured-menus .text h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    color:lightcoral;
}

.featured .featured-menus .text p {
    font-size: 14px;
    margin-bottom: 0;
    color: cornsilk;
}

.featured .featured-menus .menu-img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
} 

.ftco-wrap-about {
    background-position: bottom center !important;
}

.ftco-wrap-about .heading-section h2 {
    font-weight: 600 !important;
}

.ftco-wrap-about .img {
    width: 100%;
}

.intro {
    width: 100%;
    background: rgb(204, 145, 175);
    padding-top: 102px;
    padding-bottom: 0px;
}

.intro_image {
    width: 100%;
}

.intro_image img {
    max-width: 100%;
}

.intro_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    width: 679px;
    background: rgb(251, 253, 253);
    border: rgb(68, 255, 239);
    box-shadow: 0px 45px 70px rgb(199, 60, 60);
    z-index: 1;
    padding-top: 55px;
    padding-bottom: 59px;
    padding-left: 70px;
    padding-right: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}






.menus-wrap {
    margin-bottom: 0;
}

.heading-menus h3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 1em;
}

.menus {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid coral;
    padding: 30px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menus .text {
    width: calc(100% - 100px);
    padding-left: 20px;
}

.menus .text .one-half {
    width: calc(100% - 80px);
}

.menus .text .one-half h3 {
    font-size: 24px;
    font-weight: 500;
}

.menus .text .one-forth {
    width: 80px;
    text-align:right ;
}

.menus .text .one-forth .price {
    font-size: 20px;
    color: rgb(34, 32, 32);
    color: rgb(3, 3, 3);
    font-weight: 600;
    line-height: 1.3;
    transition: all 0.3s ease;
    border-bottom: 2px solid chocolate;
}

.menus .text p {
    margin-bottom: 0;
    color:  rgb(3, 3, 3);
}

.menus .menus-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menus:hover {
    border: 1px solid rgb(206, 92, 181);
    background: linear-gradient(
        235deg,
        rgb(196, 48, 104)0%,
        rgb(223, 110, 110) 67%
    );
}

.menus:hover .text .one-forth .price {
    color: cornsilk;
    border-bottom: 2px solid cornsilk;
}

.menus:hover .text p {
    color:  rgb(3, 3, 3);
}


/* reviews */
.testimony-section {
    position: relative;
    z-index: 0;
    background-position: center center !important;
    position: relative;
    background-attachment: fixed;
}

.testimony-section .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
}

.testimony-section .owl-carousel {
    margin: 0;
}

.testimony-section .owl-carousel .owl-stage-outer {
    padding: 1.5em 0 2em 0;
    position: relative;
}

.testimony-section .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;
}

.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next {
    position: absolute;
    transform: translateY(-50%);
    margin-top: -10px;
    outline: none !important;
    transition: all 0.3s ease;
    opacity: 0;
}

.testimony-section .owl-nav .owl-prev span::before,
.testimony-section .owl-nav .owl-next span::after {
    font-size: 30px;
    color: rgb(3, 3, 3);
    transition: all 0.3s ease;
}

.testimony-section .owl-nav .owl-prev:hover span::before,
.testimony-section .owl-nav .owl-prev:focus span::before,
.testimony-section .owl-nav .owl-next:hover span::after,
.testimony-section .owl-nav .owl-next:focus span::after {
    color: cornsilk;
}


.testimony-section .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.testimony-section .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.testimony-wrap {
    display: block;
    position: relative;
    border: 1px solid rgb(211, 6, 47);
    padding: 0 20px;
    border-radius: 4px;
    color: rgb(12, 10, 10);
    box-shadow: 0px 30px 33px -41px rgb(3, 3, 3) ;
}

.testimony-wrap .text p {
    font-style: italic;
}

.testimony-wrap .icon {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(1, 124, 124);
}

.testimony-wrap .user-img {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
}

.testimony-wrap .position {
    font-size: 16px;
    color: darkorchid;
}

.heading-section.heading-section-white .subheading {
    color: darksalmon;
}

.heading-section.heading-section-white h2 {
    color: dimgray;
}

.heading-section.heading-section-white p {
    color: rgb(53, 51, 51);
}

.makereservation {
    width: 100%;
    background: rgb(230, 142, 171);
}

.makereservation .form-group label {
    font-weight: 600;
    color: darkmagenta;
}

.makereservation .form-group .icon {
    position: absolute;
    top: 50% !important;
    right: 20px;
    font-size: 14px;
    transform: translateY(-50%);
    color: black;
} 
 
.makereservation .form-group .select-wrap {
    position: relative;
}

.makereservation .form-group .select-wrap select {
    appearance: none;
} 
.btn {
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-primary {
    background: crimson;
    border: 1px solid crimson;
    color: darkgrey;
}

.btn.btn-primary:hover {
    background: transparent;
    border: 1px solid crimson;
    color: darkgrey;
}

.btn.btn-primary.btn-outline-primary {
    border: 1px solid crimson;
    background: transparent;
    color: crimson;
}

.btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: tomato;
    color: darkgrey;
} 

.ftco-bg-dark {
    background: rgb(121, 21, 88);
}

.ftco-footer {
    font-size: 14px;
    background: rgb(185, 70, 99);
    padding: 50px 0 10px 0px;
}

.ftco-footer ,.ftco-footer-logo {
    text-transform: lowercase;
    letter-spacing: 0.1em;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: darkslategrey;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
}
